#set $id=$index
\#ifndef ${cmd.class[id].name.upper()}_H
\#define ${cmd.class[id].name.upper()}_H
#if len($cmd.class[id].include) > 0
#for i in range(0, len($cmd.class[id].include)):
\#include "${cmd.class[id].include[i].name}"
#end for
#end if

/*
I never really dive into the details of this type.
Let's just create a dummy placeholder for the information.
*/
typedef struct
{
#for i in range(0, len($cmd.class[id].struct)):
    ${cmd.class[id].struct[i].type} ${cmd.class[id].struct[i].name};
#end for
} ${cmd.class[id].name};

\#endif
