#encoding UTF-8
#compiler commentStartToken = '//'
// comment
#compiler reset
\#ifndef ARGS_H
\#define ARGS_H

\#include "config.h"

/*****************************************************************************
 *                                                                           *
 * ---------------------------- Public Interface --------------------------- *
 *                                                                           *
 *****************************************************************************/

void arguments(int argc, char** argv);

\#endif 		// ARGS_H
/* vim: set ts=4 sw=4 tw=78 ft=c: */
