#encoding UTF-8
#compiler commentStartToken = '//'
// comment
#compiler reset
\#ifndef GAMMA_H
\#define GAMMA_H

/*****************************************************************************
 *                                                                           *
 * ---------------------------- Public Interface --------------------------- *
 *                                                                           *
 *****************************************************************************/

int alpha(void);

\#endif       /* GAMMA_H */
