#encoding UTF-8
#compiler commentStartToken = '//'
// comment
#compiler reset
\#ifndef BETA_H
\#define BETA_H

/*****************************************************************************
 *                                                                           *
 * ---------------------------- Public Interface --------------------------- *
 *                                                                           *
 *****************************************************************************/

int beta(void);

\#endif       /* BETA_H */
