def run(proj_path, target_name, params):
    return {
        "project_name": "${data.project.name}",
        "version": "${data.project.version}",
        "build_types": ${data.project.build_types.split("\n")[:-1]},
        "archs": [
            {
                "arch": "${data.project.arch}",
                "conan_arch": "${data.project.arch}",
                "conan_profile": "ezored_${data.name}_profile",
            },
        ],
    }

