#!/usr/bin/env bash

#for build_type in $data.project.build_types.split("\n"):
	#if build_type == "":
		#continue
	#end if
echo build/${data.name}/$build_type/x86_64/target/bin/${data.project.name}
echo remove echo
#end for
