\#include "${state.start.name.capitalize()}State.h"
\#include "${state.name.capitalize()}StateInternal.h"

/* Possible transition to the following state: */
\#include "${state.start.to.capitalize()}State.h"

\#include "message.h" // DEBUG

static void ${state.start.to}${state.name.capitalize()} (${state.name.capitalize()}StatePtr state)
{
    message("** ${state.start.to}${state.name.capitalize()} **");

    ${state.transitionTo.name}${state.start.to.capitalize()} (state);
}

void ${state.transitionTo.name}${state.start.name.capitalize()} (${state.name.capitalize()}StatePtr state)
{
    message("** ${state.transitionTo.name}${state.start.name.capitalize()} **");

    /* Initialize with the default implementation before
       specifying the events to be handled in the started
       state. */

    ${state.defaultImplementation.name} (state);
    state->${state.start.to.lower()} = ${state.start.to}${state.name.capitalize()};
}

