\# [ --disable-gnu-args ]

\#
\#     |----------------------+---------------+-------|
\#     | Command Line         | Variable      | State |
\#     |----------------------+---------------+-------|
\#     | ""                   | WITH_GNU_ARGS | 1     |
\#     | "--disable-gnu-args" | WITH_GNU_ARGS | NULL  |
\#     |----------------------+---------------+-------|
\#


m4_include([m4/autotools_disable_gnu_args.m4])

\#
\#  |----------------------+---------------+-------|
\#  | Command Line         | Variable      | State |
\#  |----------------------+---------------+-------|
\#  | ""                   | GNU_ARGS      | 1     |
\#  | "--disable-gnu-args" | GNU_ARGS      | NULL  |
\#  |----------------------+---------------+-------|

AC_ARG_ENABLE([gnu-args],
  [AS_HELP_STRING([--disable-gnu-args],
    [disable gnu args @<:@default: no@:>@])],
  [gnu_args=\${enableval}], [gnu_args=yes])

if test "x\${gnu_args}" = xyes; then
   AC_DEFINE(GNU_ARGS, 1, [Enable args])
fi

\########################################################

AM_CONDITIONAL([WITH_GNU_ARGS], [test x\${gnu_args} = xyes])
